<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>60</data>
      <data>102</data>
      <data>110</data>
      <data>110</data>
      <data>96</data>
      <data>98</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>126</data>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>13</charcode>
    <chardata>
      <data>99</data>
      <data>119</data>
      <data>127</data>
      <data>107</data>
      <data>99</data>
      <data>99</data>
      <data>99</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>128</charcode>
    <chardata>
      <data>195</data>
      <data>153</data>
      <data>145</data>
      <data>145</data>
      <data>159</data>
      <data>153</data>
      <data>195</data>
      <data>255</data>
    </chardata>
  </character>
</charset>
